body{
    background: #2d2d2d;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.stopwatch{
    font-size: 8em;
    font-family: Arial;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}